body {
    margin: 0;
    padding: 0;
}

.divider {
    height: .1px;
    width: 90%;
    border: .5px rgba(0, 0, 0, .3) solid;
    margin: 10px auto;
}

.fixedBottom {
    position: fixed;
    bottom: 0;
    margin: 0;
    margin-top: 20px;
    width: 100%;
    height: 10px;
}

.content {
    margin: 8px;
    overflow-y: scroll;
    margin-bottom: 9rem;
}

@media screen and (max-width: 600px) {
    .fixedBottom {
        height: 100px;
    }
}